.App {
  text-align: center;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Gill Sans,
    sans-serif;
}

.Container {
  margin: 5vh 5vw;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}

.contactForm {
  margin-bottom: 1vh;
}

.contactForm input {
  width: 30vw;
  height: 2em;
}

.contactForm textarea {
  width: 50vw;
  height: 5em;
}

.enterBtn {
  color: white;
  background-color: black;
  font-size: large;
  border-radius: 25px;
  height: 3em;
  width: 8em;
  margin: 0 10vw;
  border: none;
  cursor: pointer;
}

.Footer {
  font-size: 1.2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 85%;
  color: white;
}

.HeaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  animation: fade .9s ease-in;
  font-size: 2.5em;
}

.HeaderBackground {
  position: absolute;
  /* border: 5px solid white; */
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 75%;
  animation: fade .9s ease-in;
}

.hidden {
  display: none;
}

.Link {
  color: #F5F5F5;
  text-decoration: none;
}

.Logo {
  padding: 0 5em;
}

.modal {
  width: 75vw;
  height: 75vh;
  z-index: 5;
}

.Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 1px 15px 20px #00000041;
  height: 7vh;
  font-size: 1.5em;
  /* sticky nav */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Nav a {
  transition: transform 0.2s;
  transition: 0.1s;
  border-radius: 5px;
  padding: 10px;
}

.Nav a:hover {
  transform: scale(1.05);
  /* background-color: #F05454; */
}

.Name {
  font-family: Brush Script MT,
    Brush Script Std,
    cursive;
  font-size: 1.5em;
}

.ImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10vh;
}

.ImageThumbnail {
  position: relative;
  border: solid white;
  height: 50vh;
  width: 50vh;
  cursor: pointer;
}

.ImagePlaceholderContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ImagePlaceholder {
  position: relative;
  border: solid white;
  height: 50vh;
  width: 50vh;
  background-color: black;
  opacity: 90%;
}

.Video {
  animation: fade .3s ease-in;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@keyframes fade {
  0% {
    /* starting point for anything with an 'animation' tag */
    opacity: 0%;
  }
}

@media only screen and (max-width: 768px) {
  /* changes when screen becomes phone width */

  .Nav a {
    display: flex;
  }

}