.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 110%;
}

.Container {
  margin-top: 12vh;
  max-width: 80vw;
  margin-left: 10vw;
}

.HeaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  animation: fade .9s ease-in;
}

.HeaderBackground {
  position: absolute;
  border: solid white;
  height: 50vh;
  width: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 90%;
  animation: fade .9s ease-in;
}

.Link {
  color: #F5F5F5;
  text-decoration: none;
}

.Logo {
  padding: 0 5em;
}

/* .Nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 7vh;
  justify-content: space-evenly;
  flex-shrink: 1;
  text-shadow: 5px 5px 5px #000000;
  background-color: #00000070;
  font-size: 200%; */
/* sticky nav */
/* position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
} */

.Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 1px 15px 20px #00000041;
  height: 7vh;
  /* sticky nav */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Nav a {
  transition: transform 0.2s;
  transition: 0.1s;
  border-radius: 5px;
  padding: 10px;
}

.Nav a:hover {
  transform: scale(1.05);
  /* background-color: #F05454; */
}

.ImagePlaceholderContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ImagePlaceholder {
  position: relative;
  border: solid white;
  height: 50vh;
  width: 50vh;
  background-color: black;
  opacity: 90%;
}

.Video {
  animation: fade .3s ease-in;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@keyframes fade {
  0% {
    /* starting point for anything with an 'animation' tag */
    opacity: 0%;
  }
}

@media only screen and (max-width: 768px) {
  /* changes when screen becomes phone width */

  .Nav a {
    display: flex;
  }

}